.valueStore_heading{
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
/* border: 2px solid black; */
text-align: left;
width: 60%;
margin: auto;
margin-top: 2rem;
}

.ValueStore_filter{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 2rem;
}
.Selection{
    /* width: 90%; */
}

.sort_box{
    display: flex;
place-items: center;
justify-content: space-around;
}

.CartProducts_Box{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.Price_cart{
    display: flex;
    margin-top: 1rem;
padding-bottom: 2rem;
    justify-content: space-around;
}
.cartProducts_box{
    margin-top: 1rem;
}
.image_box{
    padding-top: 1rem;
}
.main_cart_products{
    
   
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.grid_simple{
    padding-top: 2.2rem;
}

.main_cart_products:hover{
    cursor: pointer;
    border: 2px solid rgb(135, 128, 128);
}


.Box_Eachitems{
    
}

.Box_grid_second{
    text-align: left;
}

.Text_title_grid{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: rgb(134, 121, 105);
}

.Text_price_grid{
    padding-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: rgb(134, 121, 105);

}

.star_grid{
    padding-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;

    color: rgb(134, 121, 105);
    
}
.del_grid{
    font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
    color: rgb(134, 121, 105);  
}

.selected_grid{
   
    width: 50%;
    /* border: 2px solid black; */
  
    margin-left: 18rem;
}




.Cart_grid_Products{
    text-align: center;
    place-items: center;
    margin-bottom: 1.5rem;
   
}

.Cart_products_price_image{
    text-align: center;
}