
.HomePage_main_Box{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    /* background-color: #F5F5F5; */
}
.HomePage_main_Box:hover{
    cursor: pointer;
   
}
.Homepage_main_box_second{
    display: flex;
    width: 40rem;
    justify-content: space-around;
}
.divider_main_box{
    padding-left: 3rem;
    margin-top: 1rem;
}
.HomePage_main_looking{
width: 40%;
text-align: right;
padding-top: 2rem;
}
.searchBOx{
    width: 50%;
    margin: auto;
    margin-top: 1rem;
}
.CartBox_box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    /* background-color: #F5F5F5; */

}
.Image_box{
    margin-right: 1rem;
}
.gradients{
    /* background: rgb(255,255,255); */
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(249, 249, 249) 100%);
}
.welcome_offer{
    margin-top: 5rem;
    padding-left: 5rem;
    /* background-color: #F5F5F5; */

}


.scrollbar {
    margin-top: 1rem;
  width: 100%;
  justify-content: center;
  padding-left: 18%;
  /* background-color: #F5F5F5; */

 
  
  }
  
 
  .scrollbar > Box {
    flex: 0 0 auto;
  }
  

  .Offer_Homepage{
    margin-top: 3rem;
    padding-left: 5rem;
    /* background-color: #F5F5F5; */
  }

  .Offer_OfferBox{
    display: flex;
  }

  .Shop_cart_products {
    display: flex;
justify-content: space-around;
place-items: center;
width: 80%;
margin: auto;
margin-top: 2rem;
  }
  
.Box_shop_categories{
    
}


