.cartbox:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cartbox{
    border-radius: 1rem;
}

.Offer_Box_you{
    display: flex;
    place-items: center;
    
    margin-right: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
}
.Box_image_offer{
    margin-right: 1rem;
    padding-left: 1rem;
}
.Box_shop_categories{
margin-top: 3rem;
}
.shop_categories{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5rem;
}


.img_king:hover{
    cursor: pointer;
    transform: scale(1.1);
}